@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: normal;
  src: url('fonts');
  src: url('../fonts/vazir/Vazir.eot') format('embedded-opentype'),
    url('../fonts/vazir/Vazir.woff2') format('woff2'),
    url('../fonts/vazir/Vazir.woff') format('woff'),
    url('../fonts/vazir/Vazir.ttf') format('truetype');
}

.iam-section * {
  box-sizing: border-box;
}

.iam-clear {
  clear: both;
}

.map {
  float: left;
  width: 50%;
  position: relative;
}

.province-button {
  float: left;
  width: 50%;
}

.provinces-list {
  padding: 0%;
  margin: 0%;
}

path:hover {
  cursor: pointer;
}

.mapael .mapTooltip {
  position: absolute;
  background-color: #fff;
  opacity: 0.70;
  filter: alpha(opacity=70);
  padding: 5px 10px;
  z-index: 1000;
  max-width: 200px;
  font-size: 11px;
  display: none;
  color: #343434;
}

/* branch section */
.aboutus {
  overflow: auto;
  border-radius: 10px;
  direction: rtl;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  float: right;
  margin-top: 40px;
}

.aboutus p {
  color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  font-size: 14px;
}

.branch {
  overflow: auto;
  max-width: 500px;
  border-radius: 10px;
  direction: rtl;
  color: #000;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin: 14px;
  float: right;
  margin-top: 40px;
}

.branch img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.right {
  float: right;
}

.contact {
  clear: both;
  margin-top: 20px;
}

.contact ul {
  padding: 0px;
  list-style: none;
  border-top: 1px solid #ddd;
}

.contact ul li {
  padding: 7px;
  border-bottom: 1px solid #ddd;
  font-family: "Vazir";
}

.contact ul li span {
  /* font-size: 20px; */
  font-weight: bold;
  font-family: "Vazir";
}

.contact ul li {
  font-weight: normal;
  font-family: "Vazir";
  list-style: none;
}

.contact ul li i {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  display: inline-flex;
}

.profile-icon {
  background: url(../img/iam-user.png);
}

.address-icon {
  background: url(../img/iam-address.png);
}

.tell-icon {
  background: url(../img/iam-phone.png);
}

.mobile-icon {
  background: url(../img/iam-mobile.png);
}

.info {
  display: block;
  float: right;
  padding-right: 14px;
}

.info li {
  list-style: none;
  font-family: "Vazir";
}

.cityname {
  font-size: 100%;
  font-weight: bold;
  padding-top: 3px;
}

.about-desc {
  overflow: auto;
  border-radius: 10px;
  direction: rtl;
  color: #000;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 60%;
  margin: 14px;
  float: right;
  margin-top: 40px;
  padding: 48px;
}

.about-desc .about-us p {
  text-align: justify;
  font-family: "Vazir";
}

.province-button {
  float: right;
  position: relative;
  /* max-width: 54%; */
  width: 50%;
  display: block;
}

.province-button ul li {
  width: 33.3333333333333%;
  display: block;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  font-size: 11px;
  float: right;
  margin: 0%;
}

.province-button ul li a:hover {
  background: #08da53;
  color: #fff;
}

.province-button ul li a {
  font-family: "Vazir";
  text-decoration: none;
  color: #000;
  display: block;
  background: rgb(199, 215, 223);
  border-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.provinces-list li:hover~.mapTooltip {
  display: none;
}

@media only screen and (max-width:620px) {

  /* For mobile phones: */
  .map,
  .province-button,
  .Agencies {
    width: 100%;
  }
}